.cabecalho{
    height: 300px;
    background-color: blue;
    position: relative;
  }
  
  .cabecalho-texto{
    position: absolute;
    top: 250px;
    left: 100px;
    width:  250px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
  }
  .colunas{
    padding: 100px 0;
    display: grid;
    grid-template-columns: 26% 37% 37%;
    background-color: #ffffff;
    
  }
  
  .coluna{
    margin-left: 50px;
    padding: 20px;
    border: 3px solid #7bb69a;
    border-radius: 20px;
  }
  
  .colunas2{
    position: relative;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 15%;
    background-color: indianred;
  }
  
  .coluna2{
    
    margin-left: 100px;
    padding: 20px;
    border: 3px solid red;
    border-radius: 20px;
    background-color:cadetblue;
  
  }
  
  .cabecalho-texto2{
    position: absolute;
    top: -50px;
    right: 50px;
    width:  250px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
  }
  
  
  .coluna1{
    background-color: #7bb69a;
  }